@use "../../index.scss";

.input-div {
  width: 100%;
  padding: 1rem;
  @include index.flex-col;
  justify-content: flex-start;
  row-gap: 1rem;

  .input-label-div {
    align-self: flex-start;
    width: 50%;
    @include index.flex-row;
    justify-content: space-between;

    .input-label {
      color: index.$darkerGray;
      font-weight: bold;
    }

    .input-required {
      color: index.$darkerGray;
    }
  }

  .input-field {
    align-self: flex-start;
    width: 50%;
    outline: none;
    font-size: 18px;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: 1px solid index.$lightGray;
    background-color: index.$lightGray;
    @include index.transition;
  }

  .input-field:focus {
    border-color: index.$darkerGray;
  }

  .input-field.valid {
    background-color: index.$lighterGreen;
    border-color: index.$darkGreen;
  }

  .input-field.error {
    background-color: index.$lightRed;
    border-color: index.$darkRed;
  }

  .validity-text-div {
    font-weight: lighter;
    align-self: flex-start;
    color: index.$darkRed;
    @include index.flex-row;
    justify-content: flex-start;
    @include index.fadeInFromLeft;
  }

  // responsive queries
  @media screen and (max-width: 500px) {
    .input-field,
    .input-label-div {
      width: 100%;
    }
  }
}
