@use "../../../index.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(140, 140, 140, 0.2);
  backdrop-filter: blur(10px);
}

.modal {
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 68%;
  border-radius: 6px;
  background-color: index.$white;
  box-shadow: 0 3px 10px rgb(index.$black / 0.2);
  padding: 1rem 2rem;
}

@media (max-width: 1145px) {
  .modal {
    width: 85%;
    padding: 0.5rem 1rem;
  }
}

.modal-content {
  padding: 0.5rem;
}

.closeBtn {
  align-self: flex-end;
  margin: 0.5rem 0;
}
