@use "../../index.scss";

.section5-div {
  width: 100%;
  height: 100%;
  @include index.flex-col;
  align-items: flex-start;
  row-gap: 2rem;
  padding: 2rem 0;

  .section5-header {
    font-size: 3.5rem;
  }

  .section5-desc {
    font-weight: lighter;
    color: index.$darkerGray;
    word-spacing: 0.1rem;
    font-size: 18px;
    line-height: 2rem;
  }

  .section5-actions {
    width: 100%;
    @include index.flex-row;
    justify-content: flex-start;
    column-gap: 3rem;
  }
}
