@use "../../../index.scss";

.admin-receive-div {
  width: 100%;
  @include index.flex-col;
  row-gap: 2rem;

  h2 {
    color: index.$adminBlue;
  }

  .receive-main {
    width: 100%;
    height: auto;

    .table {
      padding: 1rem;
      width: 100%;
      @include index.flex-col;
      row-gap: 1rem;

      .table-header {
        width: 100%;
        @include index.flex-row;
        justify-content: space-between;
        border-bottom: 1px solid index.$darkGray;
        h3 {
          justify-self: center;
          align-self: center;
          color: index.$darkerGray;
          font-weight: lighter;
          margin-bottom: 0.25rem;
        }
      }

      .table-main {
        width: 100%;

        .table-row {
          width: 100%;
          @include index.flex-col;
          gap: 1rem;
          border: 1px solid index.$darkGray;
          padding: 1rem;
          margin-bottom: 1rem;

          .user-info {
            width: 100%;
            border-bottom: 1px solid index.$darkGray;
            @include index.flex-row;
            justify-content: space-between;
            column-gap: 0.5rem;

            .donated-by,
            .received-by {
              width: 40%;
              height: auto;
              @include index.flex-col;
              flex-wrap: wrap;
              row-gap: 0.5rem;
              margin-bottom: 0.5rem;
            }

            .status {
              width: 20%;
              margin-bottom: 0.5rem;
              @include index.flex-col;
              row-gap: 0.5rem;

              img {
                width: 50%;
                object-fit: cover;
              }

              p.received {
                color: index.$darkGreen;
              }

              p.available {
                color: index.$adminBlue;
              }

              p.pending {
                color: orange;
              }
            }

            .donated-by {
              align-items: flex-start;
            }

            .received-by {
              align-items: flex-end;
            }
          }

          .med-details {
            align-self: flex-start;
            cursor: pointer;

            &[open] > summary ~ * {
              @include index.fadeIn;
            }

            .med-info {
              margin-top: 1.5rem;
              width: 100%;
              @include index.flex-row;
              justify-content: space-between;
              column-gap: 1rem;

              .med-img {
                width: 30%;
                height: auto;

                img {
                  width: 100%;
                  max-height: 8rem;
                  object-fit: contain;
                }
              }

              .med-info-info {
                width: 70%;
                @include index.flex-col;
                row-gap: 0.5rem;
                align-items: flex-start;

                .desc {
                  color: index.$darkerGray;
                  // text clamp
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
              }
            }
          }

          &:nth-child(even) {
            background-color: index.$lightGray;
          }
        }
      }
    }
  }
}
