@use "../../index.scss";

.checkout-div {
  h2 {
    font-size: 2rem;
    color: index.$darkGreen;
    text-align: center;
    margin-bottom: 2rem;
  }

  h3 {
    @include index.descText;
    font-size: 1rem;
    border-bottom: 1px solid index.$darkGray;
  }
  .med-info-div {
    width: 99%;
    margin: 2rem auto;
    @include index.flex-row;
    column-gap: 1rem;

    .img-div {
      width: 20%;
      @include index.flex-row;

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .medicine-info {
      width: 100%;
      @include index.flex-col;
      align-items: flex-start;
      row-gap: 0.75rem;

      p,
      & > h4 > span {
        @include index.descText;
        font-size: 16px;
      }

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }

      .actions-div {
        width: 100%;
        @include index.flex-row;
        justify-content: flex-end;
        column-gap: 1rem;
      }
    }

    @media screen and (max-width: 500px) {
      & {
        width: 100%;
      }

      & {
        row-gap: 2rem;
        .medicine-info {
          width: 100%;
        }

        .img-div {
          width: 50%;
        }
      }
    }

    @media screen and (max-width: 500px) {
      & {
        flex-direction: column;
      }
    }
  }

  // user info div
  .user-info-div {
    width: 100%;
    @include index.flex-row;
    justify-content: space-between;
    margin: 2rem auto;

    .user-info {
      width: 60%;
      @include index.flex-row;
      justify-content: space-between;
      column-gap: 1rem;

      .img-div {
        width: 40%;

        .img {
          width: 100%;
          object-fit: cover;
        }
      }

      .info-div {
        width: 100%;
        & > h4 > span {
          @include index.descText;
          font-size: 16px;
        }

        & > h4 {
          & > .hidden {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(185, 185, 185, 1) 50%,
              rgba(255, 255, 255, 1) 100%
            );
            color: transparent;
          }
        }
      }
    }

    .actions-div {
      @include index.flex-col;
      row-gap: 2rem;
    }
  }

  .msg-div {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    @include index.descText;
    font-size: 1rem;
    background-color: index.$lighterGreen;
  }
}
